{% extends 'mailing/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.email | capfirst }}</h4>
                </div>
                <div class="card-body">
                    <p class="text-md-start">Описание: </p>
                    <p class="text-md-start">Категория: </p>
                    <p class="text-md-start">Цена:  </p>
                    <a class="btn btn-primary mb-3" href="#" role="button">Редактировать</a>
                    <a class="btn btn-primary mb-3" href="#" role="button">Удалить</a>
                    {% endif %}
                    <a class="btn btn-primary mb-3" href="#" role="button">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}