{% extends 'mailing/base.html' %}
{% block content %}

<div class="row">
    <form method="post" action="" class="form-floating" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Клиент
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}