{% extends 'mailing/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.subject | capfirst }}</h4>
                </div>
                <div class="card-body">
                    <p class="text-md-start"> {{object.letter | capfirst}}</p>
                </div>
                <a class="btn btn-primary mb-3" href="{% url 'mailing:message_list' %}" role="button">Назад</a>
                <a class="btn btn-primary mb-3" href="{% url 'mailing:message_update' object.pk %}" role="button">Редактировать</a>

                <a class="btn btn-danger" href="{% url 'mailing:message_delete' object.pk %}" role="button">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}